.container {
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    max-width: 500px;
    width: 90%;
    height: 350px;
    box-shadow: 0 0 10px gray;
}

.container h1 {
    font-style: italic;
    padding-top: 50px;
    color: goldenrod;
}

#cards-el {
    font-weight: 900;
    font-size: 20px;
}  

#sum-el {
    font-weight: 900;
    font-size: 20px;
}

.btn-start{
    padding: 10px 15px;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 900;
}

.new-card {
    padding: 10px 20px;
    color: #fff;
    background-color: goldenrod;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 900;
}